//hide buttons 

button[title="Connectable lines & curves"],
button[title="Line"],
button[title="Free draw"],
button[title="Canvas options"]{
    display: none;
}


.canvas-holder {
  position: fixed;
  background:linear-gradient(45deg, #ffffff, #FAF8F9, #FFFFFF);
  left: 64px;
  top: 92px;
  width: calc(100% - 64px);
  height: calc(100% - 92px);
  align-content: center;
  overflow: auto;
  box-sizing: border-box;
}

.canvas-container {
  margin: 50px;
  display: inline-block;
  border: 2px solid #ededed;
  background-color: #fff;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  box-sizing: content-box;
  border-radius: 15px;
}

.canvas-info {
  width: 100%;
  font-size: 13px;
  color: #999;
  position: relative;
  text-align: left;
  line-height: 18px;
  margin-top: -42px;
  text-align: center;
}
